.footer {
  background-color: transparent;
  color: #fff;
  width: 100%;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 0;
}