.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: transparent; /* Fondo semitransparente si lo deseas */
}

.menu a:hover {
  color: #fff; /* El texto se vuelve blanco al pasar el mouse */
  transform: scale(1.1); /* Efecto de zoom ligero */
}
/* Estilos responsivos para pantallas más pequeñas */
@media (max-width: 767px) {
  .menu {
    padding: 10px 20px; /* Añadir espacio en los laterales */
    font-size: 0.8em; /* Reducir el tamaño del texto en móviles */
  }
}

@keyframes lights {
  0% {
    color: hsl(0, 0%, 100%); /* Oro */
    text-shadow:
      0 0 1em hsla(39, 100%, 50%, 0.2),
      0 0 0.125em hsla(0, 0%, 100%, 0.3),
      -1em -0.125em 0.5em hsla(0, 0%, 80%, 0),
      1em 0.125em 0.5em hsla(30, 100%, 60%, 0);
  }

  30% {
    color: hsl(0, 0%, 100%); /* Plata */
    text-shadow:
      0 0 1em hsla(0, 0%, 90%, 0.2),
      0 0 0.125em hsla(39, 100%, 50%, 0.5),
      -0.5em -0.125em 0.25em hsla(30, 100%, 50%, 0.2),
      0.5em 0.125em 0.25em hsla(15, 100%, 50%, 0.4); /* Un tono de bronce */
  }

  40% {
    color: hsl(30, 100%, 60%); /* Bronce */
    text-shadow:
      0 0 1em hsla(39, 100%, 50%, 0.2),
      0 0 0.125em hsla(0, 0%, 70%, 0.5),
      -0.25em -0.125em 0.125em hsla(30, 100%, 70%, 0.2),
      0.25em 0.125em 0.125em hsla(15, 100%, 50%, 0.4);
  }

  70% {
    color: hsl(0, 0%, 90%); /* Plata */
    text-shadow:
      0 0 1em hsla(0, 0%, 90%, 0.2),
      0 0 0.125em hsla(39, 100%, 50%, 0.5),
      0.5em -0.125em 0.25em hsla(30, 100%, 50%, 0.2),
      -0.5em 0.125em 0.25em hsla(15, 100%, 50%, 0.4);
  }

  100% {
    color: hsl(39, 100%, 50%); /* Oro */
    text-shadow:
      0 0 1em hsla(39, 100%, 50%, 0.2),
      0 0 0.125em hsla(0, 0%, 100%, 0.3),
      1em -0.125em 0.5em hsla(0, 0%, 80%, 0),
      -1em 0.125em 0.5em hsla(30, 100%, 60%, 0);
  }
}

h1 {
  padding: 80px 0 0;
  animation: lights 5s linear infinite;
  font-weight: 400;
  font-style: normal;
  font-size: 3em;
  font-family: "Nerko One", cursive;
}

.badge {
  position: absolute;
  left: -7px;
  top: 20px;
  background-color: #f37c32;
  -webkit-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  -moz-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  -o-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  -ms-transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  transform: rotate(-45deg) scale(1) skew(0deg) translate(10px);
  text-align: center;
  color: white;
  padding: 0 0.5em;
  border-top: 0px;
  line-height: 20px;
  margin: 0;
  z-index: 1001;
}

.badge:after {
  content: ' ';
  position: absolute;
  right: -20px;
  top: 0px;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #f37c32;
}

.badge:before {
  content: ' ';
  position: absolute;
  left: -20px;
  top: 0;
  border-left: 20px solid transparent;
  border-bottom: 20px solid #f37c32;
}
.question-mark {
  position: fixed;
  font-weight: 500;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: linear-gradient(135deg, #F9C642, #FFEB84);
  color: black;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;

    &:hover {
    transform: scale(1.5); /* Cambia el tamaño al hacer hover */
    }
}
#slogan {
  font-size: 14px;
  text-align: center;
  transition: opacity 0.5s;
  color: silver;
  font-family: "Poppins", sans-serif;
  height: 50px;

}
.hidden {
  opacity: 0;
}

@media (max-width: 600px) {
  h1 {
      font-size: 2em; /* Tamaño responsivo para el título */
  }
  #slogan{
    font-size: 1em;
    word-break: keep-all;
  }
}