{% extends "base.html" %}

{% block content %}

<div id="about-container">
        <h1>About</h1>
        <p>Bienvenido a nuestro juego de trivia. Elige la respuesta correcta, si fallas pierdes.
            Este juego está diseñado para poner a prueba tus conocimientos en diversas categorías.
        </p>
        <p>Desarrollado por un equipo dedicado a proporcionar la mejor experiencia de trivia.</p>
        <p>Icons and flags provided by <a href="https://flagpedia.net" target="_blank" rel="noopener noreferrer">Flagpedia.net</a></p>
    </div>
</div>

{% endblock %}
