<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-9336280075263389">
    

    <!-- SEO Meta Tags -->
    <meta name="description" content="Juega al mejor juego de preguntas y respuestas de cultura general, banderas del mundo, deportes, moda, tecnología y más. Compite por el primer puesto en el ranking global y demuestra tu inteligencia y rapidez. ¡Acepta el desafío y alcanza la cima!">
    <meta name="keywords" content="juego de preguntas, cultura general, banderas del mundo, juegos de lógica, juegos de inteligencia, deportes, moda, tecnología, trivia online, quiz de conocimientos, competencia global, ranking de jugadores">
    <meta name="author" content="genias.io">
    <meta name="robots" content="index, follow">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Genias.io - El desafío global de preguntas y respuestas">
    <meta property="og:description" content="Demuestra tu inteligencia y rapidez en Genias.io. Compite en preguntas de cultura general, banderas, deportes, tecnología y más. ¡Alcanza el primer puesto del ranking global!">
    <meta property="og:image" content="{{ url_for('static', filename='pngs/geniasiologo.png', _external=True) }}">
    <meta property="og:url" content="{{ url_for('main.index', _external=True) }}">
    <meta property="og:type" content="website">
    
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Genias.io - Compite en el mejor juego de preguntas y respuestas">
    <meta name="twitter:description" content="Pon a prueba tu conocimiento en categorías como deportes, moda, tecnología y más. Juega y compite por el primer puesto del ranking global en Genias.io.">
    <meta name="twitter:image" content="{{ url_for('static', filename='geniasiologo.png', _external=True) }}">


    <title>{% block title %}Genias.io{% endblock %}</title>
    {% block canonical %}
    <link rel="canonical" href="https://genias.io" />
    {% endblock %} 
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='pngs/magic-lamp.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nerko+One&family=Poppins:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer-style.css') }}">
    <link rel="preconnect" href="https://www.termsfeed.com">

</head>
<body>
    <div class="backwrap gradient">
        <div class="back-shapes">
            <!-- All this img tags was autogenerated by custom written js tool -->
            <span class="floating circle" style="top:66.59856996935649%;left:13.020833333333334%;animation-delay:-0.9s;"></span>
            <span class="floating triangle" style="top:31.46067415730337%;left:33.59375%;animation-delay:-4.8s;"></span>
            <span class="floating cross" style="top:76.50663942798774%;left:38.020833333333336%;animation-delay:-4s;"></span>
            <span class="floating square" style="top:21.450459652706844%;left:14.0625%;animation-delay:-2.8s;"></span>
            <span class="floating square" style="top:58.12053115423902%;left:56.770833333333336%;animation-delay:-2.15s;"></span>
            <span class="floating square" style="top:8.682328907048008%;left:72.70833333333333%;animation-delay:-1.9s;"></span>
            <span class="floating cross" style="top:31.3585291113381%;left:58.541666666666664%;animation-delay:-0.65s;"></span>
            <span class="floating cross" style="top:69.96935648621042%;left:81.45833333333333%;animation-delay:-0.4s;"></span>
            <span class="floating circle" style="top:15.117466802860061%;left:32.34375%;animation-delay:-4.1s;"></span>
            <span class="floating circle" style="top:13.074565883554648%;left:45.989583333333336%;animation-delay:-3.65s;"></span>
            <span class="floating cross" style="top:55.87334014300306%;left:27.135416666666668%;animation-delay:-2.25s;"></span>
            <span class="floating cross" style="top:49.54034729315628%;left:53.75%;animation-delay:-2s;"></span>
            <span class="floating world" style="top:34.62717058222676%;left:49.635416666666664%;animation-delay:-1.55s;"></span>
            <span class="floating cross" style="top:33.19713993871297%;left:86.14583333333333%;animation-delay:-0.95s;"></span>
            <span class="floating square" style="top:28.19203268641471%;left:25.208333333333332%;animation-delay:-4.45s;"></span>
            <span class="floating circle" style="top:39.7344228804903%;left:10.833333333333334%;animation-delay:-3.35s;"></span>
            <span class="floating triangle" style="top:77.83452502553627%;left:24.427083333333332%;animation-delay:-2.3s;"></span>
            <span class="floating triangle" style="top:2.860061287027579%;left:47.864583333333336%;animation-delay:-1.75s;"></span>
            <span class="floating triangle" style="top:71.3993871297242%;left:66.45833333333333%;animation-delay:-1.25s;"></span>
            <span class="floating triangle" style="top:31.256384065372828%;left:76.92708333333333%;animation-delay:-0.65s;"></span>
            <span class="floating triangle" style="top:46.47599591419816%;left:38.90625%;animation-delay:-0.35s;"></span>
            <span class="floating cross" style="top:3.4729315628192032%;left:19.635416666666668%;animation-delay:-4.3s;"></span>
            <span class="floating cross" style="top:3.575076608784474%;left:6.25%;animation-delay:-4.05s;"></span>
            <span class="floating world" style="top:77.3237997957099%;left:4.583333333333333%;animation-delay:-3.75s;"></span>
            <span class="floating cross" style="top:0.9193054136874361%;left:71.14583333333333%;animation-delay:-3.3s;"></span>
            <span class="floating square" style="top:23.6976506639428%;left:63.28125%;animation-delay:-2.1s;"></span>
            <span class="floating square" style="top:81.30745658835546%;left:45.15625%;animation-delay:-1.75s;"></span>
            <span class="floating square" style="top:60.9805924412666%;left:42.239583333333336%;animation-delay:-1.45s;"></span>
            <span class="floating snowboard" style="top:29.009193054136876%;left:13.90625%;animation-delay:-1.05s;"></span>
            <span class="floating world" style="top:52.093973442288046%;left:68.90625%;animation-delay:-0.7s;"></span>
            <span class="floating snowboard" style="top:81.51174668028601%;left:83.59375%;animation-delay:-0.35s;"></span>
            <span class="floating snowboard" style="top:11.542390194075587%;left:91.51041666666667%;animation-delay:-0.1s;"></span>
        </div>
      </div>
    <div id="beta">
        <div class="badge">Beta</div>
      </div>
      <div class="menu">
        <nav class="navMenu">
            <a href="/">Juega<div class="dot"></div></a>
            <a href="/publica-tus-preguntas">Contribuye<div class="dot"></div></a>
            <a href="/rankings">Rankings<div class="dot"></div></a>
        </nav>
    </div>

    <div class="main-container">
        <!-- Contenido específico de cada página -->
        {% block content %}
        {% endblock %}
    </div>
    <div id="pinBox" style="display:none;">
        <span id="pinDisplay">****</span>
        <span class="flecha"></span>
        <span id="infoMessage">Guarda el PIN para usar tu nombre de usuario siempre que quieras. Pulsa 1 vez para mostrar, 2 para copiar</span>
    </div>
    <footer class="footer">
        <div class="footer-bottom">
            <p>
                <a href="/trivia-desafio-mental-juego">Qué es genias.io?</a> | <a href="/politica-de-privacidad">Política de Privacidad</a> | <a href="#" id="open_preferences_center">Cookies</a>

            </p>
        </div>
    </footer>
<script type="module" src="{{ url_for('static', filename='user-pins.js') }}"></script>
    <!-- Cargar el script de Multiavatar -->
    <script src="https://cdn.jsdelivr.net/npm/@multiavatar/multiavatar/multiavatar.min.js"></script>

    <script type="text/javascript">
        const allCategories = {{ categories|tojson }};
        const categoryNames = {{ category_names|tojson }};
        let pin_code = "{{ pin_code | default('') }}";
        let userName = "{{ user_name | default('') }}";
        let staticFolder = "{{ files_folder | default('static') }}";
        const audioUrls = {
           background: "{{ url_for('static', filename='audio/thinktime.webm') }}",
           correct: "{{ url_for('static', filename='audio/right.mp3') }}",
           wrong: "{{ url_for('static', filename='audio/wrong.webm') }}",
           welcome: "{{ url_for('static', filename='audio/welcome-voice.mp3') }}"
       };
    </script>

    <!-- Script del consentimiento de cookies -->
    <script type="text/javascript">
        let scriptLoaded = false;
    
        function loadCookieConsentScript() {
            if (!scriptLoaded) {
                scriptLoaded = true;
                const script = document.createElement('script');
                script.src = "https://www.termsfeed.com/public/cookie-consent/4.2.0/cookie-consent.js";
                script.defer = true; // Carga diferida
                script.onload = function () {
                    cookieconsent.run({
                        "notice_banner_type": "headline",
                        "consent_type": "express",
                        "palette": "light",
                        "language": "es",
                        "page_load_consent_levels": ["strictly-necessary"],
                        "notice_banner_reject_button_hide": false,
                        "preferences_center_close_button_hide": false,
                        "page_refresh_confirmation_buttons": false,
                        "website_name": "https://genias.io",
                        "website_privacy_policy_url": "https://genias.io/politica-de-privacidad"
                    });
                };
                document.body.appendChild(script);
            }
        }
    
        // Carga el script al hacer scroll, o con un temporizador para un mejor comportamiento
        window.addEventListener('load', function() {
            // Configura un pequeño retraso (ej. 1000 ms) para permitir que el LCP se complete
            setTimeout(loadCookieConsentScript, 1500);
        });
    </script>

    <!-- Google Tag Manager -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TXZ2YNC5R2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-TXZ2YNC5R2');
    </script>
</body>

</html>