<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-9336280075263389">
    <title>{% block title %}Fact Apex Game{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='header-style.css') }}">
</head>

<body>
    <nav class="menu">
        <a class="btn" href="/">Game</a>
        <a class="btn" href="/about">About</a>
        <a class="btn" href="/rankings">Ranking</a>
        <!--<a class="btn" href="/questions">Create your questions</a>-->
    </nav>
    <div class="main-container">
        <!-- Contenido específico de cada página -->
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>