{% extends "base.html" %}

{% block content %}
<div id="blurBackground" class="blur" style="display: none;"></div>
<div id="welcomeMessage" class="welcome" style="display: none;">
  Gracias por unirte {{ user_name }}!
</div>
<button id="mute-button">
    <div class="icon icon-sound">🔊</div>
    <div class="icon icon-muted">🔇</div>
</button>
<div class="game-container common-container" id="game-container">
    <picture class="image-container">
        <source srcset="{{ url_for('static', filename='pngs/geniasiopicturenotext.webp') }}" type="image/webp">
        <source srcset="{{ url_for('static', filename='pngs/geniasiopicturenotext.png') }}" type="image/png"> 
        <img src="{{ url_for('static', filename='pngs/geniasiopicturenotext.png') }}" alt="Genias.io image" class="game-image">
    </picture>
    <h1>genias.io</h1>
    <p id="slogan">Aquí empieza tu viaje a lo más alto</p>
    <div id="welcome-container">
        <div class="avatar-container">
            <div class="avatar" id="avatar-icon"></div>
            <input type="text" id="user-name" class="custom-input" placeholder="Elige un nombre" value="{{ user_name }}" />
        </div>
        <span id="username-status" style="color: red;"></span>
        <div class="pin-container" id="pin-container" style="display: none;">
            <input type="password" class="pin-input" id="pin-code" placeholder="PIN CODE" maxlength="3" minlength="3" />
            <button class="toggle-visibility" id="toggle-visibility" onclick="togglePinVisibility()">
                👁️
            </button>
        </div>
        <button class="btn" id="start-button">¡A jugar!</button>
    </div>
    

    <div id="category-container" style="display: none;">
        {% for category in categories %}
            <button class="btn" id="category-{{ category|lower }}">
                <img src="{{ url_for('static', filename='svgs/' ~ category ~ '.svg') }}" alt="{{ category }}" class="icon">
                <span>{{ category_names[category] }}</span>
            </button>
        {% endfor %}
    </div>
    
    <p id="count-text" style="display: none;">Correctas: 0</p>
    <div id="memorization-message" style="display: none; color: white;"></div>

    <div id="question-container" style="display: none;">
        <p id="question-text"></p>
    </div>
    
    <div id="answer-buttons" class="flex-container" style="display: none;">
                <picture>
            <img
              src=""
              width="108"
              height="81"
              alt="flag"
              style="display: none;">
          </picture>
        <button class="btn" id="option-button-1">Cargando...</button>
        <button class="btn" id="option-button-2">Cargando...</button>
        <span id="created-by-span" class="created-by-label"></span>

    </div>
    <p id="funny-message"></p>
    <div id="progress-bar-container" style="display: none;">
        <div id="progress-bar"></div>
    </div>
    <p id="timer-text" style="display: none;">Tiempo: 10.0s</p> <!-- Cambiado el tiempo inicial a 10s -->
    <p id="result-text"></p>
    <p id="score-text" style="display: none;">Puntuación Total: 0</p>

</div>
<div id="ranking-container" style="display: none;">
    <h2>Top 7</h2>
    <ul id="best-scores-list"></ul>
</div>
<!-- Charts -->

<div class="chart-container" id="chart-container">
  <h2 class="decorative-title">¿Qué dicen los datos de los jugadores?</h2>
  <canvas id="myRadarChart"></canvas>
  <canvas id="myChart"></canvas>
  <canvas id="barChart"></canvas>
</div>
<!-- FAQ container -->
<div class="faq-container" id="faq-container">
    
    <h2 class="decorative-title">¿Quieres disfrutar al máximo del juego? Descubre cómo triunfar en Genias.io</h2>

    <!-- FAQ Drawer 1 -->
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-1" type="checkbox" />
      <h2 class="faq-drawer__title" onclick="toggleFaq(1)">¡Descubre el sistema de puntuación y multiplica tus puntos en Genias.io!</h2>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p style="color: whitesmoke">
            En Genias.io, la velocidad de tus respuestas es clave para obtener una mayor puntuación.
            <br>
            La fórmula de puntuación se basa en el tiempo que tardas en responder: cuanto más rápido contestes, más puntos ganarás,
            lo que significa que si respondes rápidamente, puedes acumular hasta 10 puntos por respuesta correcta.
            <br>¡Pon a prueba tus conocimientos y compite para lograr el puntaje más alto!
          </p>
        </div>
      </div>
    </div>
    
    <!-- FAQ Drawer 2 -->
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-2" type="checkbox" />
      <h2 class="faq-drawer__title" onclick="toggleFaq(2)">¿Qué categorías de preguntas puedes dominar? ¡Explóralas y reta tus habilidades!</h2>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p style="color: whitesmoke">
            Genias.io ofrece una variedad de categorías en las que podrás demostrar tus conocimientos: cultura general, lógica, banderas, deportes, moda, historia y geografía, informática y matemáticas, economía y juegos de memoria. Cada categoría está diseñada para desafiar tu inteligencia y rapidez en temas específicos, proporcionando una experiencia de trivia entretenida y educativa. ¡Explora cada categoría y reta tus conocimientos en cada área!
          </p>
        </div>
      </div>
    </div>
    
    <!-- FAQ Drawer 3 -->
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox" />
      <h2 class="faq-drawer__title" onclick="toggleFaq(3)">¿Quieres añadir tus propias preguntas y enriquecer el juego? ¡Forma parte de Genias.io!</h2>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p style="color: whitesmoke">
            En Genias.io, tienes la oportunidad de enriquecer el juego agregando tus propias preguntas a través de nuestra inteligencia artificial. Puedes proponer nuevas preguntas en cualquiera de las categorías, y, tras la revisión de los administradores, tu pregunta se hará pública junto a tu nombre de usuario. Esta función te permite ser parte activa de la comunidad y contribuir a la variedad y calidad del juego. ¡Comparte tu conocimiento y mejora el juego para todos!
          </p>
        </div>
      </div>
    </div>
    
    <!-- FAQ Drawer 4 -->
    <div class="faq-drawer">
      <input class="faq-drawer__trigger" id="faq-drawer-4" type="checkbox" />
      <h2 class="faq-drawer__title" onclick="toggleFaq(4)">¿Quieres jugar desde cualquier dispositivo? ¡Guarda tu nombre de usuario fácilmente!</h2>
      <div class="faq-drawer__content-wrapper">
        <div class="faq-drawer__content">
          <p style="color: whitesmoke">
            Para mantener tu nombre de usuario en Genias.io, recibirás un código PIN que aparecerá en la esquina inferior derecha de la pantalla. Es importante que guardes este código, ya que te permitirá reutilizar tu nombre de usuario en cualquier dispositivo que uses para jugar. Esto asegura que puedas seguir acumulando puntos y manteniendo tu historial de juego, sin importar desde dónde accedas.
          </p>
        </div>
      </div>
    </div>
    
</div>


<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="module" src="{{ url_for('static', filename='game.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='charts-logic.js') }}"></script>
<script>
    const slogans = [
        "¡Bienvenido/a al mejor Quiz de Internet!",
        "Llegarás a lo más alto del Ranking?",
        "Velocidad y Sabiduría, ¿serán suficiente?",
        "Disfruta y comparte con tu mejor competencia"
    ];
    const sloganElement = document.getElementById('slogan');
    let currentIndex = 0;

    function changeSlogan() {
        sloganElement.classList.add('hidden');
        currentIndex = (currentIndex + 1) % slogans.length;
        setTimeout(() => {
            sloganElement.textContent = slogans[currentIndex];
            sloganElement.classList.remove('hidden');
        }, 500);
    }

    function cycleSlogans() {
        changeSlogan();
        setTimeout(cycleSlogans, 3000);
    }

    cycleSlogans();

    function togglePinVisibility() {
        const pinCode = document.getElementById('pin-code');
        const toggleButton = document.getElementById('toggle-visibility');
        pinCode.type = pinCode.type === 'password' ? 'text' : 'password';
        toggleButton.textContent = pinCode.type === 'password' ? '👁️' : '🙈';
    }

    document.getElementById('user-name').addEventListener('input', function() {
        const avatarName = this.value || 'defaultoitr'; // Si el input está vacío, usa 'default'
        const avatarSvg = multiavatar(avatarName);
        document.getElementById('avatar-icon').innerHTML = avatarSvg;
    });

    document.addEventListener('DOMContentLoaded', function() {
    const avatarName = document.getElementById('user-name').value || 'defaultoitr';
    const avatarSvg = multiavatar(avatarName);
    document.getElementById('avatar-icon').innerHTML = avatarSvg;
});

const items = document.querySelectorAll('.accordion button');

function toggleFaq(id) {
    const trigger = document.getElementById(`faq-drawer-${id}`);
    trigger.checked = !trigger.checked;
}

</script>


{% endblock %}
