{% extends "base.html" %}

{% block content %}

<div class="game-container common-container" id="game-container">

    <h1>🦉Genias.io</h1>
    <p id="slogan">Aquí empieza tu viaje a lo más alto</p>
    <div id="welcome-container">
        <input type="text" id="user-name" placeholder="Nombre divertido" value="{{ user_name }}" />
        <button class="btn" id="start-button">¡A jugar!</button>
    </div>


    <div id="category-container" style="display: none;">
        <button class="btn" id="category-sports">
            <img src="{{ url_for('static', filename='svgs/Deportes.svg') }}" alt="Deportes" class="icon">
            <span>Deportes</span>
        </button>
        <button class="btn" id="category-fashion">
            <img src="{{ url_for('static', filename='svgs/Moda.svg') }}" alt="Moda" class="icon">
            <span>Moda</span>
        </button>
        <button class="btn" id="category-history">
            <img src="{{ url_for('static', filename='svgs/Historia.svg') }}" alt="Historia" class="icon">
            <span>Historia y Literatura</span>
        </button>
        <button class="btn" id="category-technology">
            <img src="{{ url_for('static', filename='svgs/Software.svg') }}" alt="Informática" class="icon">
            <span>Informática y Matemáticas</span>
        </button>
        <button class="btn" id="category-economy">
            <img src="{{ url_for('static', filename='svgs/Economia.svg') }}" alt="Economia" class="icon">
            <span>Economía</span>
        </button>
    </div>
    <div id="question-container" style="display: none;">

        <p id="question-text">Selecciona la respuesta correcta:</p>
    </div>
    <div id="answer-buttons" style="display: none;">
        <button class="btn" id="option-button-1">Cargando...</button>
        <button class="btn" id="option-button-2">Cargando...</button>
    </div>
    <p id="funny-message"></p>
    <div id="progress-bar-container" style="display: none;">
        <div id="progress-bar"></div>
    </div>
    <p id="timer-text" style="display: none;">Tiempo: 10.0s</p> <!-- Cambiado el tiempo inicial a 10s -->
    <p id="result-text"></p>
    <p id="score-text" style="display: none;">Puntuación Total: 0</p>
</div>
<div id="ranking-container" style="display: none;">
    <h2>Top 10</h2>
    <ul id="best-scores-list"></ul> <!-- Lista de mejores puntuaciones -->
</div>


<script src="{{ url_for('static', filename='scripts.js') }}"></script>
<script>
    
const slogans = [
    "¡Bienvenido/a al mejor Quiz de Internet!",
    "Llegarás a lo más alto del Ranking?",
    "Velocidad y Sabiduría, ¿serán suficiente?",
    "Disfruta y comparte con tu mejor competencia"
];
const sloganElement = document.getElementById('slogan');
let currentIndex = 0;

// Función para cambiar el eslogan
function changeSlogan() {
    // Agrega la clase 'hidden' para hacer el parpadeo
    sloganElement.classList.add('hidden');

    // Cambia el índice del eslogan actual
    currentIndex = (currentIndex + 1) % slogans.length;

    // Cambiar el texto después de un breve retraso
    setTimeout(() => {
        sloganElement.textContent = slogans[currentIndex];
        sloganElement.classList.remove('hidden');
    }, 500); // coincide con la duración de la transición
}

// Cambia el eslogan cada 3 segundos
setInterval(changeSlogan, 3000);
</script>

{% endblock %}
