{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Crear Preguntas de Verdadero o Falso</h1>
    <form id="thematic-form">
        <label for="thematic-input">Categoría:</label>
        <select id="thematic-input" required>
            <option value="Deportes">Deportes</option>
            <option value="Moda">Moda</option>
            <option value="Historia">Historia</option>
            <option value="Software">Software</option>
            <option value="Economia">Economía</option>
        </select> 
        <label for="context-input">Para que nuestra genIA cree preguntas únicas, escribe algo de contexto. 
            Por ejemplo, si eliges Deportes, puedes poner: "Fútbol, Cristiano Ronaldo, Real Madrid". Datos actualizados a 2023</label>
        <input type="text" id="context-input" required placeholder="Añade contexto" />
        <label for="questions-count">Número de Preguntas:</label>
        <select id="questions-count" required>
            <option value="5">5 Preguntas - 1 Cortado</option>
            <option value="10">10 Preguntas - 1 Café doble</option>
            <option value="15">15 Preguntas - 1 Café del Starbucks</option>
        </select>

        <button class="btn" type="submit" id="obtain-questions-button">Obtener Preguntas</button>
    </form>

    <div id="loading-indicator" style="display:none;">Cargando preguntas...</div>

    <div id="questions-container" style="display:none;">
        <h2>Preguntas</h2>
        <div id="questions-list"></div>
        <button id="save-questions-button" class="btn">Guardar Preguntas</button>
        
        <!-- Sugerencia de donación -->
        <div class="donation-container">
            <h3>Te está gustando el juego? ☕</h3>
            <p>Si te gusta este generador de preguntas, considera regalarme un café para apoyar el desarrollo local.</p>
            <a href="https://www.buymeacoffee.com/alvaromartm" target="_blank">
                <div class="embed-each-sec" id="btn-without-sup-count" style="display: block;">
                    <button class="btn">
                        <div class="flex">
                            <span class="btn-icon">☕</span>
                            <span class="btn-custom-text">Invítame a un café</span>
                        </div>
                    </button>
                </div>
            </a>
        </div>
    </div>
</div>

<style>
/* General styles */
.question-item {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.question-item > label {
    font-size: 1em;
    margin-bottom: 10px;
}

.question-item-number {
    font-weight: bold;
    color: #333;
}

label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    resize: vertical;
    min-height: 40px;
    max-height: 200px;
}

textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}



@media (max-width: 768px) {
    textarea {
        max-height: 150px;
    }
}
</style>

<script>
    let thematicInput = '';
    document.getElementById('thematic-form').addEventListener('submit', async function(event) {
        event.preventDefault();
        thematicInput = document.getElementById('thematic-input').value;
        contextInput = document.getElementById('context-input').value;
        let combinedInput = `${thematicInput},${contextInput}`;

        const questionsCount = document.getElementById('questions-count').value;
        const obtainButton = document.getElementById('obtain-questions-button');
        const loadingIndicator = document.getElementById('loading-indicator');
        
        obtainButton.disabled = true;
        loadingIndicator.style.display = 'block';

        const response = await fetch(`/create_questions?thematic=${encodeURIComponent(thematicInput)}&context=${encodeURIComponent(contextInput)}&count=${encodeURIComponent(questionsCount)}`);
        const data = await response.json();

        if (response.ok) {
            const questions = data.category[thematicInput];

            const questionsList = document.getElementById('questions-list');
            questionsList.innerHTML = ''; 

            questions.forEach((question, index) => {
                const questionItem = document.createElement('div');
                questionItem.className = 'question-item';
                questionItem.innerHTML = `
                    <label>
                        <div class="question-item-number">Pregunta ${index + 1}</div>
                        <textarea data-index="${index}" placeholder="Contenido...">${question.fact}</textarea>
                        <textarea data-index="${index}" placeholder="Autor">${question.invent}</textarea>
                    </label>
                `;
                questionsList.appendChild(questionItem);
            });

            document.getElementById('questions-container').style.display = 'block';
        } else {
            alert(data.error);
        }

        obtainButton.disabled = false;
        loadingIndicator.style.display = 'none';
    });

    document.getElementById('save-questions-button').addEventListener('click', function() {
        const questionInputs = document.querySelectorAll('#questions-list .question-item');
        const questionsToSave = [];

        questionInputs.forEach((input, index) => {
            const factInput = input.querySelector('textarea:nth-of-type(1)');
            const inventInput = input.querySelector('textarea:nth-of-type(2)');

            if (factInput && inventInput) {
                questionsToSave.push({
                    fact: factInput.value,
                    invent: inventInput.value,
                    category: thematicInput
                });
            }
        });

        fetch('/save_questions', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(questionsToSave)
        })
        .then(response => response.json())
        .then(data => {
            alert("Preguntas guardadas con éxito!");
        })
        .catch(error => {
            console.error('Error al guardar las preguntas:', error);
        });
    });

    
</script>
{% endblock %}
