{% extends "base.html" %}

{% block content %}

<h1>Rankings por Categoría</h1>

<div id="category-rankings">
    {% set categories = ['Deportes', 'Historia', 'Software', 'Moda', 'Economia'] %}
    {% for category in categories %}
        <h2>{{ category }}</h2>
        <div class="ranking">
            <h3>Top 10</h3>
            <ul id="best-scores-{{ category|lower }}" class="ranking-list"></ul>
        </div>
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='rankings.js') }}"></script>

{% endblock %}