{% extends "base.html" %}

{% block content %}

<h1 class="h1">🏆 Ranking Gloal</h1>
{% set categories = ['Deportes', 'Moda', 'Historia', 'Software', 'Economia'] %}
<div class="search-container">
    <input type="text" id="search-input" placeholder="Buscar por nombre..." />
    <select id="category-selector">
        <option value="all">Todas las Categorías</option>
        {% for category in categories %}
            <option value="{{ category|lower }}">{{ category }}</option>
        {% endfor %}
    </select>
    <select id="date-range-selector">
        <option value="all">Global</option>
        <option value="7">Últimos 7 días</option>
        <option value="30">Últimos 30 días</option>
    </select>
</div>

<div id="category-leaderboards">
    {% for category in categories %}
        <div class="leaderboard-container" id="container-{{ category|lower }}">
            <h2 class="category-title">
                <img src="{{ url_for('static', filename='svgs/' ~ category ~ '.svg') }}" alt="{{ category }}" class="icon">
                <span>{{ category }}</span>
            </h2>
            <table class="leaderboard-table">
                <thead>
                    <tr>
                        <th class="scrollable-cell">Rank</th>
                        <th class="scrollable-cell">Nombre</th>
                        <th class="scrollable-cell">Puntos</th>
                        <th class="scrollable-cell">Total</th>
                        <th class="scrollable-cell">T.m(s)</th>
                        <th class="scrollable-cell">Fecha</th>
                    </tr>
                </thead>
                <tbody id="best-scores-{{ category|lower }}" class="ranking-list">
                    {% for score in scores %}
                        <tr class="{% if loop.index <= 3 %}top-three{% endif %}">
                            <td>{{ loop.index }}</td>
                            <td class="scrollable-cell">
                                {% if loop.index == 1 %}<img src="{{ url_for('static', filename='svgs/gold.svg') }}" alt="Medalla de Oro" width="20" height="20">{{ score.name }}
                                {% elif loop.index == 2 %}<img src="{{ url_for('static', filename='svgs/silver.svg') }}" alt="Medalla de Plata" width="20" height="20">{{ score.name }}
                                {% elif loop.index == 3 %}<img src="{{ url_for('static', filename='svgs/bronze.svg') }}" alt="Medalla de Bronce" width="20" height="20">{{ score.name }}
                                {% else %}{{ score.name }}{% endif %}
                            </td>
                            <td>{{ score.points }}</td>
                            <td>{{ score.total_correct }}</td>
                            <td>{{ score.avg_time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
</div>

<script src="{{ url_for('static', filename='rankings.js') }}"></script>
<script>
    window.onload = function() {
        const allCategories = {{ categories|tojson }};; // Convertir la lista de Jinja a un array de JavaScript
        console.log(allCategories)
        const searchInput = document.getElementById('search-input');
        const categorySelector = document.getElementById('category-selector');

        // Función para mostrar/ocultar categorías según la selección
        function filterCategories() {
            const selectedCategory = categorySelector.value.toLowerCase(); // Convertir a minúsculas
            allCategories.forEach(category => {
                const container = document.getElementById(`container-${category.toLowerCase()}`); // Convertir a minúsculas
                if (selectedCategory === 'all' || selectedCategory === category.toLowerCase()) {
                    container.style.display = 'block'; // Mostrar el contenedor
                } else {
                    container.style.display = 'none'; // Ocultar el contenedor
                }
            });
        }

        // Inicializar el filtrado
        categorySelector.addEventListener('change', filterCategories);
        filterCategories(); // Llamar a la función al cargar la página

        // Obtener los parámetros de la URL
        const params = new URLSearchParams(window.location.search);
        const searchValue = params.get('search');

        // Si hay un valor, establecerlo en el input y disparar el evento 'input'
        if (searchValue) {
            searchInput.value = decodeURIComponent(searchValue);
            const event = new Event('input', { bubbles: true });
            searchInput.dispatchEvent(event);
        }

        // Extra: Puedes añadir un filtro de búsqueda si es necesario aquí
    };
</script>
{% endblock %}